name: PHP Composer

on:
  push:
jobs:
  test:
    strategy:
      matrix:
        version: [8.0, 8.1, 8.2 ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: php-actions/composer@master
      with:
        php_version: ${{ matrix.version }}
        ssh_key: ${{ secrets.SSH_KEY }}
        ssh_key_pub: ${{ secrets.SSH_KEY_PUB }}
        command: install
        args: --no-interaction
    - name: PHPUnit Tests
      uses: php-actions/phpunit@v3
      with:
        version: 9
        php_version: ${{ matrix.version }}

